<%- include('header') %>

<div class="container">
  <h2 class="mt-5 mb-3">Update task</h2>
  <form action="/task/update/<%= task.Task_Id %>" method="post">
    <div class="mb-3">
      <label for="inputTask">Task:</label>
      <input autofocus type="text" class="form-control shadow-none mb-3" id="inputTask" name="Task" value="<%= task.Task %>">
      <label for="inputStatus">Status:</label>
      <select class="form-select shadow-none" aria-label="Default select example" id="inputStatus" name="Status">
        <option value="In progress" selected>In progress</option>
        <option value="Completed">Completed</option>
        <option value="Canceled">Canceled</option>
      </select>
    </div>        
    <button type="submit" class="btn btn-warning">Update</button>
    <a class="btn btn-outline-dark cancel" href="/">Cancel</a>
  </form>
  <input autofocus type="text" class="form-control shadow-none mb-3" id="inputTask" name="Task">
<% if (errors.Task) { %>
<div class="text-danger mb-3"><%= errors.Task.msg %></div>
<% } %>
</div>

<%- include('footer') %>